{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    发微博
{% endblock %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}
    <div class="container">
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form class="form form-horizontal" action='{{ url_for('post_main.new_post') }}' method='POST' enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.content) }}
            {{ wtf.form_field(form.pic) }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
    <div class="col-lg-2"></div>
    <div>
{% endblock %}
