{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}post{% endblock %}
{% block content %}

    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 list-group-item">
                <p>{{ post.author.username }}说:</p>
                <small>{{ moment(post.create_time).format('LLL') }}</small>
                <h3>{{ post.content }}</h3>
                {%if post.pic%}
                <img src="{{post.pic}}" style="200px;width: 200px">
                {% endif%}
                {% for comment in post.comments %}
                    <div class="list-group-item">
                        <p style="margin: 0 0 0 0">{{ comment.author_name }}评论:</p>
                        <small style="margin-top:2px; font-size:5px;color:gray">{{ moment(comment.create_time).format('LLL') }}</small>
                        <p style="margin-bottom:2px ">{{ comment.content }}</p>
                    </div>
                {% endfor %}
                <br>
                <br>
                <form class="form form-horizontal" action='{{ url_for('post_main.post_detail',post_id=post.post_id) }}'
                      method='POST'>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                    {{ wtf.form_field(form.content) }}
                    {{ wtf.form_field(form.submit) }}
                </form>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}