{% extends "layout.html" %} {% block title %} 首页 {% endblock %} {% block content %} {{ super() }}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <ul>
                        {% for article in articles %}
                            <div id=blog>
                                <h4 id='article-title'>{{ article.title }}</h4>
                                <p id="article-username">{{ article.author.username }}</p>
                                <a href="{{ url_for('article_main.article_detail', article_id=article.article_id) }}">阅读</a>
                                <p id='article-time'
                                   style="padding-top:10px; font-size:5px;color:gray">{{ moment(article.create_time).format('LLL') }}</p>
                            </div>
                            <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}