{% extends "layout.html" %}

{% block body %}
    <div>
        <div></div>
        <div>
            {% if diaries %}
                <ul>
                    {% for diary in diaries %}
                        <div id=blog>
                            <h4 id="title">{{ diary.title }}</h4>
                            <small id=diary-time>{{ diary.pub_date }}</small>
                            <p id=diary-content>{{ diary.article }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No diaries are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}