{% extends "layout.html" %}
{% block title %}
    首页
{% endblock %}
{% block content %}
    {{ super() }}
    <div>
        <div></div>
        <div>
            {% if diaries %}
                <ul>
                    {% for diary in diaries %}
                        <div id=blog>
                            <h4 id="title">{{ diary.author.username }}</h4>
                            <small id=diary-time>{{ diary.create_time }}</small>
                            <p id=diary-content>{{ diary.content }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No diaries are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}